In [14]:
import openpyxl as xl
import pandas as pd

passengers = pd.read_csv("행정동별지하철승객수.csv",encoding = 'euc-kr')
dong = pd.read_csv("읍면동정보.csv",encoding = 'euc-kr')

passengers = passengers.dropna()
passengers = passengers[passengers['기준_날짜'] > 20220501]

In [15]:
passengers

,기준_날짜,행정동_ID,지하철_승객_수,지하철_승객_수_00시,지하철_승객_수_01시,지하철_승객_수_02시,지하철_승객_수_03시,지하철_승객_수_04시,지하철_승객_수_05시,지하철_승객_수_06시,...,지하철_승객_수_14시,지하철_승객_수_15시,지하철_승객_수_16시,지하철_승객_수_17시,지하철_승객_수_18시,지하철_승객_수_19시,지하철_승객_수_20시,지하철_승객_수_21시,지하철_승객_수_22시,지하철_승객_수_23시
0,20220526,1122057,10374.0,0.0,0.0,0.0,0.0,0.0,69.0,257.0,...,430.0,536.0,927.0,932.0,979.0,646.0,460.0,487.0,371.0,118.0
3,20220526,1120054,9676.0,0.0,0.0,0.0,0.0,1.0,234.0,461.0,...,410.0,373.0,440.0,494.0,595.0,312.0,271.0,239.0,191.0,60.0
4,20220526,1119062,9526.0,0.0,0.0,0.0,0.0,0.0,65.0,264.0,...,291.0,342.0,473.0,898.0,1894.0,581.0,314.0,307.0,215.0,65.0
5,20220526,1118052,10364.0,1.0,0.0,0.0,0.0,0.0,128.0,486.0,...,326.0,303.0,454.0,1180.0,1454.0,644.0,405.0,256.0,138.0,37.0
8,20220526,1110065,20446.0,4.0,0.0,0.0,0.0,7.0,566.0,1423.0,...,927.0,1098.0,1179.0,1049.0,951.0,467.0,281.0,220.0,188.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10584,20220502,1116064,34515.0,2.0,0.0,0.0,0.0,0.0,405.0,1312.0,...,1260.0,1394.0,1834.0,3091.0,5286.0,2007.0,1487.0,1411.0,945.0,332.0
10588,20220502,1116054,21969.0,0.0,0.0,0.0,0.0,2.0,622.0,1118.0,...,814.0,850.0,1011.0,1411.0,1971.0,793.0,567.0,442.0,245.0,77.0
10589,20220502,1116052,7707.0,0.0,0.0,0.0,0.0,0.0,92.0,350.0,...,263.0,273.0,365.0,684.0,1256.0,336.0,233.0,151.0,86.0,45.0
10591,20220502,1115070,7322.0,1.0,0.0,0.0,0.0,1.0,192.0,525.0,...,190.0,227.0,262.0,335.0,343.0,165.0,111.0,65.0,73.0,14.0
10592,20220502,1111053,6515.0,0.0,0.0,0.0,0.0,34.0,152.0,418.0,...,270.0,297.0,365.0,417.0,327.0,204.0,139.0,103.0,116.0,43.0

In [13]:
dong = dong[dong['시도_명칭'] == '서울']
dong

       행정동_ID 행정동_명칭 자치구_명칭 시도_명칭
712   1125074     길동    강동구    서울
713   1125073   천호2동    강동구    서울
714   1125072   암사1동    강동구    서울
715   1125071   둔촌2동    강동구    서울
716   1125070   둔촌1동    강동구    서울
...       ...    ...    ...   ...
1131  1101057    무악동    종로구    서울
1132  1101056    평창동    종로구    서울
1133  1101055    부암동    종로구    서울
1134  1101054    삼청동    종로구    서울
1135  1101053    사직동    종로구    서울

[424 rows x 4 columns]